/* Преобразует текст заголовков в верхний регистр */
h1,
h2,
h3 {
  text-transform: uppercase;
}

/* Стили для шапки сайта */
header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
}

/* Стили для меню навигации в шапке */
.header__menu {
  justify-self: start;
  font-size: 18px;
}

/* Стили для списка ссылок меню */
.header__links-list {
  display: flex;
  gap: 30px; /* Расстояние между элементами */
  list-style: circle; /* Стиль маркера списка — кружок */
}

.header__link {
  text-decoration: none; /* Убираем подчеркивание у всех ссылок */
  border-bottom: 1px solid #000; /* Добавляем подчеркивание */
  padding-bottom: 1px; /* Расстояние между текстом и линией */
}

.header__link_active {
  text-decoration: none; /* Убираем подчеркивание у ссылки "Главная" */
  border-bottom: none; /* Удаляем подчеркивание у активной ссылки */
  padding-bottom: 0; /* Удаляем отступ */
}

.header__links-list-item_no-bullit {
  list-style: none; /* Убираем маркер у ссылки "Главная" */
}

.header__logo-image {
  width: 135px;
  left: 12px;
  justify-content: center;
  border-width: 6px;
}

/* Стили для блока с адресом в шапке */
.header__address {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: flex-start; /* Выравниваниевание элементов по левому краю */
  font-style: normal; /* Убираем наклон шрифта */
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
}

/* Ссылки внутри блока адреса */
.header__address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px; /* Расстояние между текстом и линией */
  margin-bottom: 2px;
}

/* Блок с фоновым изображением */
.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 757px; /* Минимальная высота блока */
  background-image: url("../images/cover.jpg"); /* Фоновое изображение */
  background-size: cover; /* Масштабировать изображение для покрытия всей области */
  background-position: center;
  justify-content: space-between;
}

/* Полупрозрачный слой поверх фона */
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
  z-index: 1; /* Размещение поверх фона, но под содержимым */
}

/* Заголовок "Оно тебе надо" */
.cover__title {
  display: flex;
  position: relative;
  flex-direction: column; /* Каждая часть на новой строке */
  margin: 165px 50px 0;
  z-index: 2; /* Над оверлеем */
}

.aligned-text {
  display: block;
  color: #ffffff;
  font-size: 100px; /* Размер шрифта */
  line-height: 1.35; /* Межстрочное расстояние */
}

.aligned-text_left {
  text-align: left; /* Выравнивание текста по левому краю */
}

.aligned-text_center {
  text-align: center; /* Выравнивание текста по центру */
}

.aligned-text_right {
  text-align: right; /* Выравнивание текста по правому краю */
}

.letter-spacing-extended {
  letter-spacing: 0.3em; /* Расстояние между буквами */
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Блок с описанием под заголовком */
.cover__description {
  display: flex;
  flex-direction: row; /* В строку */
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  word-spacing: 18px; /* Расстояние между словами */
  margin-bottom: 50px;
}

/* Стиль текста описания */
.cover__description-text {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase; /* Верхний регистр */
}

/* Стиль для кнопки */
.bet-button {
  width: 256px;
  height: 51px;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid currentColor; /* Рамка */
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
}

/* Блок с лотами */
.lots {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  width: 1052px;
  margin: 180px 24px 0;
  box-sizing: border-box;
}

/* Заголовок секции лотов */
.lots__heading {
  font-size: 40px;
  font-weight: bold; /* Жирное начертание */
  color: #000000;
  padding-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap; /* Перенос элементов на новую строку */
  list-style: none;
  gap: 25px; /* Расстояние между карточками */
  padding: 0;
  margin: 0;
}

/* Ссылки на карточки */
.card-link {
  display: block; /* Блочный элемент */
  color: #ffffff;
  text-decoration: none; /* Убираем подчеркивание */
}

/* Общие стили карточки */
.card {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  position: relative; /* Для позиционирования внутренних элементов */
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center; /* Центрирование изображения */
  box-sizing: border-box;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg); /* Фоновое изображение карточки */
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* Заголовок карточки */
.card__title {
  font-size: 22px;
  color: #ffffff;
  text-decoration: underline;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 48px;
  z-index: 2; /* Над оверлеем */
}

/* Текст описания внутри карточки */
.card__text {
  font-size: 20px;
  line-height: 1.2; /* Межстрочное расстояние */
  color: #ffffff;
  margin-top: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 48px;
  z-index: 2; /* Над оверлеем */
}

/* Ссылка "Посмотреть больше" */
.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  z-index: 2; /* Над другими элементами */
  text-decoration: none; /* Убираем подчеркивание у всех ссылок */
  border-bottom: 1px solid #000; /* Добавляем подчеркивание */
  padding-bottom: 1px; /* Расстояние между текстом и линией */
  width: fit-content; /* Ширина по содержимому */
}

/* Блок информации об аукционе */
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr; /* Левая колонка 334, правая — оставшееся пространство */
  margin: 160px 24px 0;
}

/* Логотип */
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирование по вертикали */
  width: 240px;
  height: 240px;
  border-radius: 50%; /* Закругление логотипа */
  background-color: #000;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

/* Заголовок об аукционе */
.about__title {
  align-self: center;
  font-size: 40px;
  line-height: 47px;
  padding-left: 22px;
}

.about__text-wrapper {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  gap: 24px; /* Расстояние между параграфами */
  flex-direction: column;
  padding-left: 22px;
}

/* Текст о аукционе */
.about__text {
  font-size: 20px;
  line-height: 24px;
}

/* Контейнер для подвала с тремя колонками */
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Три одинаковые колонки */
  gap: 20px; /* Расстояние между колонками */
  min-width: 1100px;
  margin: 180px auto 0;
}

/* Контактные информация в подвале */
.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  margin-left: 50px; /* Отступ слева */
  font-style: normal; /* Убираем наклон шрифта */
}

.footer__address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 1px; /* Расстояние между текстом и линией */
  width: fit-content; /* Ширина по содержимому */
  margin-bottom: 2px;
}

/* Меню навигации в подвале */
.footer__menu {
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  align-items: center; /* Центрирование элементов по горизонтали */
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-link {
  text-align: center;
  color: #000000;
  font-size: 18px;
  border-bottom: 1px solid #000; /* Добавляем подчеркивание */
  text-decoration: none; /* Убираем подчеркивание  */
}

.footer__menu-link_active {
  text-decoration: none; /* Убираем подчеркивание  */
  border-bottom: none; /* Убираем подчеркивание */
  padding-bottom: 0px; /* Убираем отступ */
}

/* Список иконок соцсетей */
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* По правому краю */
  align-items: flex-start; /* По верхнему краю */
  gap: 48px; /* Расстояние между иконками */
  padding: 0px;
  padding-right: 50px;
}

.footer__social-list-item {
  list-style: none; /* Убираем маркеры */
}

/* Размер иконок соцсетей */
.footer__social-icon {
  width: 48px; /* Уменьшаем размер иконок */
  height: 48px; /* Уменьшаем размер иконок */
  display: inline-block; /*  чтобы размеры корректно применялись */
}
